Flask	
Jinja2	
Keras-Preprocessing	
Markdown	
MarkupSafe	
Pillow	
Werkzeug	
absl-py	
astunparse	
cachetools	
certifi	
chardet	
click	
gast	
google-auth	
google-auth-oauthlib	
google-pasta	
grpcio	
h5py	
idna	
itsdangerous	
numpy
oauthlib
opencv-python
opt-einsum
pip	
protobuf
pyasn1	
pyasn1-modules
requests	
requests-oauthlib	
rsa	
scipy
setuptools
six
tensorboard	
tensorboard-plugin-wit	
tensorflow
tensorflow-estimator	
termcolor	
urllib3
wheel	